.cuerpo {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 1em;
}

/* HEADER */
.header { /* Trabajo de afuera hacia dentro */
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid #000;
}
.menuPrincipal {
    padding: 0;
    margin: 0;
    background-color: #d18465;
}
.menuPrincipal li a {
    display: block;
    text-decoration: none; /* Quito el subrrayado */
    font-weight: bold;
    color: #000000;
    padding: 0.6em 1em;
}
.menuPrincipal ul {
    display:flex; /* Flexibiliza el contenido */
    flex-wrap:wrap; /* Coloca elementos sin que se desarme */
    justify-content: flex-end; /* Todo al final */
    list-style-type: none; /* Quita decoraciones de lista */
}
.menuPrincipal li a:hover { /* Al colocar el cursor sobre la caja */
    background: #ebbb38;
}

